<section id="contact">
  <h2>{title}</h2>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <h3>Josef Žerdík</h3>
      <div class="flex gap-2 items-center font-size-1-2">
        <i class="fa-solid fa-envelope font-size-big"></i>
        <span>mail@mail.com</span>
      </div>
      <div class="flex gap-2 items-center font-size-1-2">
        <i class="fa-solid fa-phone font-size-big"></i>
        <span>+420 777 777 777</span>
      </div>
    </div>
    <div class="flex flex-col">
      <h3 class="font-larger">Zuzana Teichmannová</h3>
      <div class="flex gap-2 items-center font-size-1-2">
        <i class="fa-solid fa-envelope font-size-big"></i>
        <span>mail@mail.com</span>
      </div>
    </div>
  </div>
  <social_media />
</section>
