<section id="records">
  <h2>Nahrávky</h2>
  <div class="flex gap-4">
    <div class="">
      <h3>Lesanten</h3>
      <p>Album vzniklo v roce 2023...</p>
      <h4>Nahrávky ke stažení</h4>
      <div class="flex flex-col gap-1 items-stretch font-size-1-2">
        <record_item_list />
      </div>
    </div>
    <div>
      <h3>Na jabloni</h3>
      <p class="italic">Album vzniklo v roce 2003...</p>
      <h4>Nahrávky ke stažení</h4>
      <div class="flex flex-col gap-1 items-stretch font-size-1-2">
        <record_item_2_list />
      </div>
    </div>
  </div>
</section>
