<!DOCTYPE html>
<html lang="{language}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.webp" />
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/b67a1c33ae.js"
      crossorigin="anonymous"
    ></script>
    <title>Lesanten</title>
  </head>
  <body>
    <div class="flex justify-between">
      <main class="relative">
        <img src="./media/lesantenCover.png" alt="picture_of_a_band" />
        <!-- <img src="/media/logo.png" alt="logo" /> -->
        <!-- <div class="home_background"></div> -->
        <gigs_page />
        <records_page />
        <contact_page />
      </main>
      <the_header />
    </div>
    <footer>
      <div>Stránky jsou stále v procesu vývoje</div>
    </footer>
  </body>
</html>
