<div class="flex-col pt-4 g-4 h-full-viewport sticky-sidebar">
  <img
    src="./media/lesantenCover.webp"
    alt="cd cover as a profile"
    class="rounded-full mx-4 border border--highlight"
  />
  <menu class="flex-col g-1 font-x-large">
    <a href="#band">
      <div class="w-full border-bottom-light bold">
        <span class="mx-4">Kapela</span>
      </div>
    </a>
    <a href="#recordings">
      <div class="w-full border-bottom-light bold">
        <span class="mx-4"> Nahrávky</span>
      </div>
    </a>
    <a href="#contacts">
      <div class="w-full border-bottom-light bold">
        <span class="mx-4"> Kontakty</span>
      </div>
    </a>
  </menu>
  <div class="flex-row flex-wrap g-1 mx-4 w-auto flex-certer">
    <a href="https://soundcloud.com/lesanten">
      <icon_soundcloud />
    </a>
    <a href="https://www.facebook.com/lesanten/">
      <icon_facebook />
    </a>
    <a
      href="https://www.youtube.com/watch?v=tFD8BZKMEj0&list=OLAK5uy_l1AoVrZA-dv2VE2OezuAbnSvWit2-NHjM"
    >
      <icon_youtube />
    </a>
    <a
      href="https://open.spotify.com/album/4DDxT2CDitBvQF3Xiz49eF?si=joRkZkwsTaOwQ4Rdabpyzw&context=spotify%3Aalbum%3A4DDxT2CDitBvQF3Xiz49eF&fbclid=IwY2xjawEPxo9leHRuA2FlbQIxMQABHR5vDAOEEVARxYXvq36JqckBKDTri0OnRE9rHHPNoKE0lkyXsBYX14JsUQ_aem_TsZhO6tBwasEMs_cIU6ysw&nd=1&dlsi=b5c1955e37d54682"
    >
      <icon_spotify />
    </a>
  </div>
</div>
