<div class="flex gap-2 items-center">
  <a href="https://www.facebook.com/field.band">
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a href="https://www.instagram.com/field._band/">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a
    href="https://www.youtube.com/watch?v=tFD8BZKMEj0&list=OLAK5uy_l1AoVrZA-dv2VE2OezuAbnSvWit2-NHjM"
  >
    <i class="fa-brands fa-youtube"></i>
  </a>
  <a
    href="https://open.spotify.com/album/4DDxT2CDitBvQF3Xiz49eF?si=joRkZkwsTaOwQ4Rdabpyzw&context=spotify%3Aalbum%3A4DDxT2CDitBvQF3Xiz49eF&fbclid=IwY2xjawEPxo9leHRuA2FlbQIxMQABHR5vDAOEEVARxYXvq36JqckBKDTri0OnRE9rHHPNoKE0lkyXsBYX14JsUQ_aem_TsZhO6tBwasEMs_cIU6ysw&nd=1&dlsi=b5c1955e37d54682"
  >
    <i class="fa-brands fa-spotify"></i>
  </a>
</div>
